<div>
    <p><%=@exchanges.count %></p>
    <p>Nombre de las exchanges a las que se tiene acceso</p>
    <% @exchange.each do |t| %>
    <ul>
        <p>Nombre: <%= t.name %> </p>
        
    </ul>
    <% end %>
</div>
