 <div>
    <p>Monedas de Bittrex</p>
<div>
        <p>Mercados de Ethereum</p>
        <%markets=Array.new%>
        <%moneda = Cryptocurrency.find_by(name: "Litecoin")%>
        <%@mercados = moneda.exchanges.each do |t| %>
            <%markets.push(t.name)%>
        <%end%>
        <%markets.each do |t|%>
        <p>      
            <%=t%>
            <%valor = Hashie::Mash.new(Cryptocompare::Price.find([moneda.symbol],['USD','BTC'], {'e' => t}))%>
            <%if valor.respond_to? ('Response')%>     
                <%valor = Hashie::Mash.new(Cryptocompare::Price.find([moneda.symbol],['BTC'], {'e' => t}))%>    
            <%end%>
            <p><%=valor%></p>             
        </p>
        <%end%>
    </div>
</div>
